@import "../../App.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include tablet {
    width: 90vw;
    padding: 10px;
    gap: 40px;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin: 70px 70px 0 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include tablet {
        font-size: 55px;
        line-height: 1.1;
      }

      @include mobile {
        font-size: 36px;
        line-height: 1.1;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 50px;
      width: 100%;
      padding-top: 0px;
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;

      svg {
        width: 250px;
        height: 250px;
      }

      svg {
        width: 300px;
        height: 300px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input,
    textarea {
      padding: 20px;
      background: transparent;
      border: 1px solid white;
      border-top: 1px solid white; /* Ensure the top border is explicitly set */
      border-top: 2px solid white;
      color: white;
      border-radius: 5px;
      box-sizing: border-box; /* Make sure padding includes the border */

      @include mobile {
        padding: 10px;
      }
    }

    button {
      padding: 20px;
      border: none;
      background: orange;
      cursor: pointer;
      font-weight: 500;

      @include mobile {
        padding: 10px;
      }
    }

    /* Success and Error Message Styling with Animation */
    .successMessage,
    .errorMessage {
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth fade-in and slide */
    }

    .successMessage {
      background-color: rgba(0, 128, 0, 0.2);
      color: #00ff00;
      border: 1px solid #00ff00;
    }

    .errorMessage {
      background-color: rgba(255, 0, 0, 0.2);
      color: #ff0000;
      border: 1px solid #ff0000;
    }
  }
}
